<div class="card mb-3 " style="max-width: 100%;">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-3">
            <% if apply.festival.festival_logo.present? %>
              <%= image_tag apply.festival.festival_logo, class:"img-fluid round w-100" ,id:"preview-logo" %> 
            <% else %>
              <%= image_tag 'image.png', class:"img-fluid rounded w-100" ,id:"preview-logo" %> 
            <% end %>
          </div>
          <div class="col-6 mt-4">
            <strong class="card-title text-bold">Festival:
            </strong>
            <span>
              <%= apply.festival.name %> 
            </span>
          </div>
        </div>
        <p>
            <strong>Nombre : </strong><br>
            <span> <%= apply.user.name %> </span>

        </p>
        <p>
            <strong>Nombre artistico: </strong><br>
            <span> <%= apply.name%></span>

        </p>
        <p>
            <strong>Categoria:</strong><br>
            <span><%= apply.category.name%></span> 
        </p>
        <p>
            <strong>Acto:</strong><br>
            <span><%= apply.act%></span> 
        </p>
        <p class="card-text"> 
          <strong>
          Sobre mi
          </strong><br>
          <%= apply.description%>
        </p>
         <p class="text-muted text-end fs-6">Fecha de Postulacion: <br><%= apply.created_at.strftime("%d de %B de %Y") %></p>
      </div>
</div>