<div id="<%= dom_id apply %>">
  <p>
    <strong>Name:</strong>
    <%= apply.name %>
  </p>

  <p>
    <strong>Act:</strong>
    <%= apply.act %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= apply.description %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= apply.video_url %>
  </p>

  <p>
    <strong>Festival:</strong>
    <%= apply.festival_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= apply.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= apply.category.name %>
  </p>

</div>
<div class="card">
  
  <iframe id="ytplayer" type="text/html" width="720" height="405"
src="<%= apply.video_url%>"
frameborder="0" allowfullscreen>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>