
<div id="<%= dom_id apply %>">
<div class="card">
    
    <div class="fluid justify-content-end d-flex align-items-center">
     
      
     
     <% if current_user.id == @apply.user.id %>
      
     <%= render 'applies/buttons_apply', apply: @apply %>
     <% end %>
      
    </div>

    <%= render 'applies/data_apply', apply: apply %>
  <div class="card-body">
    
  </div>
  


 
 <% if @video_id != nil %>
  
 
  <iframe src="https://www.youtube.com/embed/<%= @video_id%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="embed-responsive-item" height="360px"></iframe>
  <% else %>
  <p>Si no puedes ver Este video , te recomendo ir al la web oficial donde esta alojado</p>
  <a href="<%= @apply.video_url%>" class="m-3 btn btn-info">ver en youtube</a>
 <% end %>
  
  <% if current_user.role == "Organizador" || current_user.role == "Admin" %>
    <div class="card-footer">
      <% if @rating.present? %>
        <%= render 'ratings/edit_form', apply: @apply, rating:@rating %>
      <% else %>
        <%= render 'ratings/form', apply: @apply %>
      <% end %>

      </div>
  <% end %>
  



</div>


