<div id="loader" style="display: none;">
    <h3>  Cargando...</h3>
    <%= render 'shared/loading_screen' %>
</div>



<%= form_with(model: @festival.applies.build,id:"new_apply" ,url: festival_applies_path(@festival)) do |form| %>
  <% if apply.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apply.errors.count, "error") %> prohibited this apply from being saved:</h2>

      <ul>
        <% apply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4" >
        <% if apply.apply_image.attached? %>
          <%= image_tag apply.apply_image, class:"img-fluid rounded w-100" ,id:"preview-logo" %> 
        <% else %>
          <%= image_tag 'image.png', class:"img-fluid rounded w-100" ,id:"preview-logo" %> 
        <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tu Imagen Artística o de tu acto</h5>
        <p class="card-text">Sube una imagen que represente tu acto artístico. Procura que sea de buena calidad, ya que podría utilizarse en material relacionado con el festival.</p>
        <p class="card-text"><small class="text-muted">
            <div class="field mb-2">
            <%= form.label "Imagen del Postulante" %><br>
            <%= form.file_field :apply_image  , class:"form-control-file" ,id:"festival_festival_logo"%>
        </div>
        </small></p>
      </div>
    </div>
  </div>
</div>
  <div>
    <%= form.label "Nombre Artistico o pseudonimo", style: "display: block", class:"form-label fw-bold" %>
    <%= form.text_field :name, autocomplete: true ,class:"form-control"  %>
  </div><br>

  <div>
    <%= form.label "Tipo de Actuación: Nombre de tu acto", style: "display: block", class:"form-label fw-bold" %>
    <%= form.text_field :act, class:"form-control"  %>
  </div><br>

  <div>
    <%= form.label "Háblanos de ti: Por favor, cuéntanos de manera breve sobre ti, tu acto y tu experiencia en el mundo artístico.", class:"form-label fw-bold", style: "display: block" %>
    <%= form.text_area :description , class:"form-control" %>
  </div><br>

  <div>
    <%= form.label "Video de tu acto (debe ser un enlace al video en YouTube)", class:"form-label fw-bold", style: "display: block" %>
    <%= form.text_field :video_url , class:"form-control" %>
  </div><br>

 <div>
  <%= form.label :category_id, class:"form-label fw-bold " , style: "display: block" %>
  <%= form.collection_select :category_id, Category.all, :id, :name,{ prompt: "Seleccionar categoría" }, { class: "form-select" }%>
</div>


  <div class="text-end mr-3 mt-3">
    <%= form.submit "Postular", class:"btn btn-primary my-3 px-4"%>
  </div>
<% end %>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var input = document.getElementById('festival_festival_logo');
    var previewImage = document.getElementById('preview-logo');

    input.addEventListener('change', function(e) {
      var file = e.target.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          previewImage.src = e.target.result;
        }
        reader.readAsDataURL(file);
      } else {
        previewImage.src = '/assets/image.png';
      }
    });
  });
  
</script>
<script>
  var loginForm = document.querySelector('#new_apply');
  var submitButton = document.querySelector('input[type="submit"]');

  // Agregar un controlador de eventos para el envío del formulario
  loginForm.addEventListener('submit', function(event) {
    // Mostrar el loader
    var loader = document.querySelector('#loader');
    loader.style.display = 'block';

    // Deshabilitar el botón de envío para evitar múltiples envíos
    submitButton.disabled = true;
  });
</script>