
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { multipart: true }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-outline mb-4 text-start fw-bold">
    <%= f.label :email , class:"form-label"%><br />
    <%= f.email_field :email, autofocus: false, autocomplete: "email" ,class:"form-control"%>
  </div>
  <div class="field form-outline mb-4 text-start fw-bold">
    <%= f.label "Nombre Completo:" , class:"form-label"%><br />
    <%= f.text_field :name, autofocus: false, autocomplete: "name",class:"form-control" %>
  </div>

   <div class="row g-0">
    <div class="col-md-4" >
       
          <%= image_tag 'default_avatar.png', class:"img-fluid rounded w-100" ,id:"preview-logo" %> 
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Foto de perfil</h5>
        <p class="card-text">Por favor, carga una foto de perfil.</p>
        <p class="card-text"><small class="text-muted">
            <div class="field mb-2 ">
            <%= f.label "Imagen de perfil" %><br>
            <%= f.file_field :avatar , class:"form-control-file" ,id:"festival_festival_logo"%>
        </div>
        </small></p>
      </div>
    </div>
  </div>




  
 
  <div class="field form-outline mb-4 text-start fw-bold">
    <%= f.label "numero de Telefono" , class:"form-label"%><br />
    <div class="input-group mb-3">

    <span class="input-group-text" id="basic-addon1">+</span>
    <%= f.text_field :phone_number, autofocus: false, autocomplete: "phone_number",class:"form-control" %>
    </div>
  </div>

  <div class="field form-outline mb-4 text-start fw-bold">
    <%= f.label "contraseña", class:"form-label"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimos)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field form-outline mb-4 text-start fw-bold">
    <%= f.label "confirma tu contraseña" , class:"form-label"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="actions text-end">
    <%= f.submit "Sign up", class:"btn btn-primary px-5 my-4" %>
  </div>
<% end %>
<div class="text-start">

<%= render "devise/shared/links" %>
</div>

</div>


 <script>
  document.addEventListener('DOMContentLoaded', function() {
    var input = document.getElementById('festival_festival_logo');
    var previewImage = document.getElementById('preview-logo');

    input.addEventListener('change', function(e) {
      var file = e.target.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          previewImage.src = e.target.result;
        }
        reader.readAsDataURL(file);
      } else {
        previewImage.src = '/assets/image.png';
      }
    });
  });
</script>