<div id="<%= dom_id festival %>">
  <p>
    <strong>Name:</strong>
    <%= festival.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= festival.year %>
  </p>

  <p>
    <strong>State:</strong>
    <%= festival.state %>
  </p>

  <p>
    <strong>Application state:</strong>
    <%= festival.application_state %>
  </p>

  <p>
    <strong>User:</strong>
    <%= festival.user_id %>
  </p>

</div>
