<p style="color: green"><%= notice %></p>
<% if current_user.role == "Admin" %>

<div class="card-header">
  <div class="row g-0">
    <div class="col">
      <%= button_to "Cerrar Postulaciones", admin_festival_close_applications_path(@festival), method: :put, class: "btn btn-danger" %>
    </div>
    <div class="col">
      <%= button_to "Cerrar Festival", admin_festival_close_festival_path(@festival), method: :put, class: "btn btn-danger px-4" %>

    </div>
  </div>
</div>
<% end %>
<%= render @festival %>

<div>
  <%= link_to "Edit this festival", edit_festival_path(@festival) %> |
  <%= link_to "Back to festivals", festivals_path %>

  <%= button_to "Destroy this festival", @festival, method: :delete %>
</div>
