<h1>Nueva Postulación Recibida</h1>
  
  <p>Hola <%= @organizer.username %>,</p>
  
  <p>Te informamos que se ha recibido una nueva postulación para el festival.</p>
  
  <h2>Detalles de la Postulación:</h2>
  <p><strong>Nombre del Festival:</strong> <%= @apply.festival.name %></p>
  <p><strong>Usuario que Postuló:</strong> <%= @apply.user.name %></p>
  <p><strong>Nombre artistico:</strong> <%= @apply.name %></p>
  <p><strong>acto:</strong> <%= @apply.act %></p>
  
  <p>Gracias por tu atención.</p>
  
  <p>Saludos,</p>
  <h2>FestivApp Circus</h2>