<!DOCTYPE html>
<html>
  <head>
    <title>FestivalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body>
    <section class="background-radial-gradient overflow-hidden">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              Bienvenido a FestivalApp <br />
              <span style="color: hsl(218, 81%, 75%)">¡Sé parte de un espectáculo inolvidable! </span>
            </h1>
              <p class="mb-4 opacity-70 fs-2" style="color: hsl(218, 81%, 85%)">
              Tu talento también puede brillar en nuestros festivales circenses! Regístrate para participar y déjate llevar por la emoción de unirte a una gran aventura circense. ¡Tu gran experiencia está a punto de comenzar!
            </p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong">
            </div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong">

              </div>

              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                  <%= yield %>
                </div>
              </div>
            </div>
        </div>
      </div>
        


    </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/166fe20303.js" crossorigin="anonymous"></script>
  </body>
</html>
